<!doctype html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <main class="container-fluid">
      <%- include('../partials/navbar') %>
      <!-- Cuerpo principal -->
      <section class="row">
          <article class="col-12  card pt-6 bg-info" >
                  <div class="card-body">
                    <h2 class="card-title card-title text-white bg-info text-center display-5 ">Iniciar Sesión</h2>
                    <h4 class="card-title text-center display-6 " >Introduzca su correo y contraseña.</h4>

                  </div>
          </article>
      </section>

      <section class="bg-home pt-15">
            <div class="container">
                <div class="row">
                    <div class="col-8 mx-auto bg-white pt-2 " style="margin-top: 20px;">
                        <div class="signup-form">
                            <form action="/login" method="POST">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email" value="<%= typeof old != 'undefined' ? old.email : '' %>" >
                                    <% if(typeof(errors) != 'undefined' && errors.email){%>
                                      <span class="text-danger">
                                        <%= errors.email.msg %>
                                      </span>
                                   <%}%>
                                </div>
                                <div class="input-group mb-3">
                                  
                                  <input type="password" class="form-control js_password" placeholder="password" name="password" aria-label ="Username">
                                  <% if(typeof(errors) != 'undefined' && errors.password){%>
                                  <span class="text-danger">
                                    <%= errors.password.msg %>
                                  </span>
                               <%}%>
                                </div>
                              

                                <div class="form-group ">
                                  <input type="checkbox" name="recordarme"><label class="checkbox-inline" style="color: black;">Recordarme</label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn btn-info">Ingresar</button>
                                </div>
                            </form>
                            <div class="text-center mb-3 "><a href="/registro">Aun no poseo una cuenta</a></div>
                        </div>
                    </div>                        
                </div>
              </main>
      </section>
      <%- include('../partials/footer') %>

</body>

      <!-- Scripts para Bootstrap -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>