<!doctype html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <main class="container-fluid">
      <%- include('../partials/navbar') %> 
        <!-- Cuerpo principal -->
        <section class="row">
          <article class="col-12 bg-info" >
                  <div class="">
                    <h2 class="card-title text-white text-center display-5 " style="margin-top: 15px;">Registrate</h2>
                    <h4 class="text-center display-6" style="color: white; padding-left: 5%; padding-right: 5%;">Crea tu cuenta, s칩lo te tomara unos minutos.</h4>
                  </div>
          </article>
        </section>

        <section class="bg-home pt-4">
            <div class="container">
                <div class="row" >
                    <div class="col-10 mx-auto bg-white " >
                        <% if(typeof(errors) != 'undefined'){%>
                            <ul class="alert alert-danger">
                               <% errors.forEach(error => { %>
                                  <li><%= error.msg%></li>
                               <%});%>
                             </ul>
                         <%}%>    
                         <div class="signup-form">
                            <form action="/registro" method="post" enctype="multipart/form-data">
                              <br>
                              <div class="form-group">
                                <!--Noten aqui en los input estoy persistiendo los datos si el usuario coloca algunos datos  buenos, pero otros no-->                                  
                                <input type="text" class="form-control" name="username" placeholder="Usuario" value="<%= typeof old != 'undefined' ? old.username : '' %>">
                            </div>
                                <div class="form-group">
                                    <!--Noten aqui en los input estoy persistiendo los datos si el usuario coloca algunos datos  buenos, pero otros no-->                                  
                                    <input type="text" class="form-control" name="first_name" placeholder="Nombre" value="<%= typeof old != 'undefined' ? old.first_name : '' %>">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="last_name" placeholder="Apellido" value="<%= typeof old != 'undefined' ? old.last_name : '' %>">
                                </div>	
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email" value="<%= typeof old != 'undefined' ? old.email : '' %>">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Contrase침a"  >
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirma Contrase침a" >
                                </div>        
                                <div class="custom-file">
                                  <input type="file"   name="avatar"  placeholder="Debes eligir tu avatar...">
                              </div>                                
                              <div class="form-group">
                                  <button type="submit" class="btn btn btn-info">Registrarse</button>
                              </div>
                            </form>
                            <div class="text-center my-3">Ya tengo una cuenta? <a href="/login">Inicia sesi칩n</a></div>
                        </div>
                    </div>                        
                    </div>
                </div>
              </main>
        </section>
        <%- include('../partials/footer') %>   

</body>

        <!-- Scripts para Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>